body{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}

main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
:root {
  --bg: #fafafa;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #e94057;
  --orange: #f27121;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}
.cabecalho{
  font-size: 25px !important;
}

.carta{
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 0.1em;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.carta_conteudo{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: steelblue;
  border-radius: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 0.4rem;
}

.carta_conteudo::selection {
  background: transparent;
}

.carta.descoberta {
  transform: rotateY(-180deg);

}

@keyframes erro {
  0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }

}

@keyframes certo {
  from {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.5, 1.5, 1.5);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1; /*mantém os pares na tela*/
    /*opacity:0 esconde as cartas que fazem par*/
 }
}

.sucesso {
  pointer-events: none;
}

.sucesso .carta_conteudo {
  animation: certo 1.3s ease-in-out forwards;
}

.erro {
  animation: shake-animation 0.1s ease infinite;
  transform-origin: 50% 50%;
}
.tempo{
  width: 120px;
  height: 200px;
  background-color: steelblue;
  overflow: hidden;
  padding: 10px 10px;
  position: absolute;
  margin-right: 70%;
  margin-top: 20%;
  border-radius: 0.3rem;
  font-family: "Bahnschrift", serif;
}
.tempo span{
  margin-left: 3px;
}
.nivelAtual{
  width: 120px;
  height: 200px;
  background-color: steelblue;
  overflow: hidden;
  padding: 10px 10px;
  position: absolute;
  margin-left: 70%;
  margin-top: 20%;
  font-family: "Bahnschrift";
  border-radius: 0.3rem;
}
.buttonDisp{
  display:block;
  margin: 20px auto;
  width: 100px;
  text-align: center;
  font-size: 20px;
}
.mesa{
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: center;
  max-width: 30%;
  margin: auto;

}
@media(max-width: 600px){
  .mesa{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: center;
    max-width: 50px;
    margin: auto;

  }
}
@media(max-width: 300px){
  .mesa{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: center;
    max-width: 50px;
    margin: auto;

  }

}